.header {
    background-color: skyblue;
    height: 100px;
    color: ivory;
}

.header-logo {
    float: left;
    font-size: 40px;
    padding: 20px 40px;
}

.header-list li {
    float: left;
    padding: 30px;
    font-size: 25px;
}

li {
    list-style: none;
}

.main {
    background-color: skyblue;
}

.section-title {
    padding: 20px 30px;
    border-bottom: 2px solid white;
    color: white;
}